{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Startseite {% endblock %}

{% block arrowHome %} class="current-menu-item" {% endblock %}

{% block pageTitle %}
    <span class="title">Flying Feet</span>
    <span class="subtitle">Ihr Informationsportal rund ums Tanzen</span>
{% endblock %}

{% block body %}
    <h2>Herzlich Willkommen Markus</h2><br />
    Du bist soeben auf der neuen Flying Feet Seite gelandet.<br /><br />
    Noch findest du hier nur alles was sich um die Tanzformation Flying Feet dreht, aber in naher
    Zukunft wirst du hier vieles finden, was mit Tanzen zu tun hat. <br />
    Deswegen empfehle ich die Links ganz unten auf der Website, wünsche viel Spaß mit den Bildern
    und Videos der Formation und würde mich über ein Like auf unserer Facebook-Seite freuen
    (Link auch unten).
{% endblock %}